.git
.gitignore
.ignore
graft
.venv
__pycache__
*.py[cod]
*.egg-info
.coverage
.coverage.*
coverage.xml
htmlcov
.mypy_cache
.pytest_cache
.ruff_cache
build
dist
tmp
.DS_Store
.idea
.vscode
.env
.env.*
